<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Remake password</title>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
  <form method="post">
    <h1>Forgot password</h1>
    <p class="error" th:if="${error}">This email doesn't exists</p>
    <input name="email" placeholder="Email" type="email" required>
    <button class="btn">Send email</button>
    <a th:href="@{/registration}">Registration</a>
  </form>
</div>
</body>
</html>